<div class="modal fade" id="confrimModal" tabindex="-1" role="dialog" aria-labelledby="emptyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="emptyModalLabel">Confirmer activités</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
	      	<div class="modal-body confirm-activities">
			</div>
	      	<div class="modal-footer">
			  	<div id="spinner" class="spinner-border text-primary d-none" role="status">
					<span class="sr-only">Loading...</span>
				</div>
	        	<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
	        	<a data-valid-button="submit">
			  		<button type="submit" class="btn btn-primary btn-confirm">{{ 'button.confirm'|trans }}</button>
			  	</a>
	      	</div>
	    </div>
	</div>
</div>